<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css" />
        <title>Forum</title>
        <base href="/" />
    </head>
    <body>
        <div id="main">
            <h1>Retrieve Password</h1>
            % if send:
            <p>A message with your password got sent to your email address!</p>
            <p><a href="">Return to main page</a></p>
            % else:
            <p>Enter your email address to retrieve your password.</p>
            <form action="retrieve_password" method="post">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" />
                <br />
                <button type="submit">Retrieve</button>
            </form>
            <p><a href="">Return to main page</a></p>
            % end
        </div>
    </body>
</html>
